<div class="container  d-flex justify-content-center pt-5">
  <div class="col-md-6 col-12">
    <div class="mb-3">
      <label for="formFile" class="form-label">Start Date</label>
      <input class="form-control" #startdate type="date" id="formFile">
    </div>
    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">End Date</label>
      <input class="form-control" #enddate type="date" id="formFileMultiple" multiple>
    </div>
    <div class="mb-3 pt-3">
      <button type="button" class="btn btn-secondary" (click)="submitData(startdate.value,enddate.value)">
        <span *ngIf="loderspinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Submit</button>
    </div>
  </div>
</div>


<div class="container pt-5">
  <div class="col-md-12 mb-4">
    <p class="mb-4"><span class="fw-bold">Q 1.</span> Fastest Asteroid in km/h (Respective Asteroid ID & its speed)
    </p>
    <div *ngIf="loderspinner" class="d-flex justify-content-center  mb-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Asteroid Id</th>
          <th scope="col">Speed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{AsteroidId}}</td>
          <td>{{kilometers_per_hour}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-12 mb-4">
    <p class="mb-4"><span class="fw-bold">Q 2.</span> Average Size of the Asteroids in kilometres (Respective Asteroid
      ID, min, max)
    </p>
    <div *ngIf="loderspinner" class="d-flex justify-content-center  mb-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Asteroid Id</th>
          <th scope="col">Min</th>
          <th>Max</th>
          <th>Average</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{AsteroidId}}</td>
          <td>{{estimated_diameter_min}}</td>
          <td>{{estimated_diameter_max}}</td>
          <td>{{AverageSize}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <p class="mb-4"><span class="fw-bold">Q 3.</span> Plot a graph showing the total number of asteroids for each day of
      the given date range. </p>
    <div *ngIf="loderspinner" class="d-flex justify-content-center  mb-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div style="width: 20 !important; height: 20 !important;">
          <canvas style="
                box-sizing: border-box;
                height: 233.4px !important;
                width: 45% !important;" id="canvas">
          </canvas>
    </div>
  </div>

  <div class="col-md-6 pt-3">
    <div *ngIf="loderspinner" class="d-flex justify-content-center  mb-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div style="width: 20 !important; height: 20 !important;">
      <canvas style="
            box-sizing: border-box;
            height: 233.4px !important;
            width: 45% !important;" id="canvas1">
    </canvas>
    </div>
  </div>
</div>